div.mapcontainer {
  position: relative;
  width: 55%;
  margin: auto auto;
}

div.mapfunction {
  resize: horizontal;
  max-width: 100%;
  padding-bottom: 74%;
  background-image: url('worldmap.jpg');
  background-size: cover;
  /* border: 3px solid #ad2121; */
}

div.torontobutton {
  position: absolute;
  top: 45%;
  right: 70%;
}
div.parisbutton {
  position: absolute;
  top: 43%;
  right: 45%;
}
div.cairobutton {
  position: absolute;
  top: 53%;
  right: 40%;
}
div.vancouverbutton {
  position: absolute;
  top: 42%;
  right: 85%;
}
div.beijingbutton {
  position: absolute;
  top: 49%;
  right: 13%;
}
div.sydneybutton {
  position: absolute;
  top: 77%;
  right: 5%;
}
div.saopaulobutton {
  position: absolute;
  top: 75%;
  right: 56%;
}