div.mapcontainer {
  position: relative;
  width: 55%;
  margin: auto auto;
}

div.description {
  position: absolute;
  width: 35%;
  right: 100%;
}

div.mapfunction {
  resize: horizontal;
  max-width: 100%;
  padding-bottom: 74%;
  background-image: url('worldmap.jpg');
  background-size: cover;
  /* border: 3px solid #ad2121; */
}

div.torontobutton {
  position: absolute;
  top: 48%;
  right: 75%;
}
div.parisbutton {
  position: absolute;
  top: 45%;
  right: 52%;
}
div.cairobutton {
  position: absolute;
  top: 55%;
  right: 45%;
}
div.vancouverbutton {
  position: absolute;
  top: 45%;
  right: 87%;
}
div.beijingbutton {
  position: absolute;
  top: 52%;
  right: 20%;
}
div.sydneybutton {
  position: absolute;
  top: 80%;
  right: 11%;
}
div.saopaulobutton {
  position: absolute;
  top: 75%;
  right: 65%;
}