div.mapcontainer {
  position: relative;
  width: 65%;
  margin: auto auto;
}

div.mapfunction {
  resize: horizontal;
  max-width: 100%;
  padding-bottom: 60%;
  background-image: url('northatlanticmap.jpg');
  background-size: cover;
  /* border: 3px solid #ad2121; */
}

div.nycbutton {
  position: absolute;
  top: 50%;
  right: 80%;
}
div.londonbutton {
  position: absolute;
  top: 39%;
  right: 35%;
}
div.parisbutton {
  position: absolute;
  top: 47%;
  right: 30%;
}